<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ff1493">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/frontLogin.js" defer></script>
    <script src="/js/theme.js" defer></script>
    <link rel="stylesheet" href="/css/theme.css">
    <title>Login - Secret Valentines</title>
</head>
<body>
    <div id="valentinesHeartContainer"></div>
    <div class="info">
        <h1>{{title}}</h1>
        <form id="loginForm" action="/login" method="POST">
            <label for="username">Full Name:</label>
            <input type="text" placeholder="John Doe" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" placeholder="•••••••••••" id="password" name="password" required>
            
            <button type="submit">Login</button>
            <a href="/register" class="register-link">Don't have an account? Register</a>
        </form>
    </div>
</body>
</html>